{{ define "main" }}

{{ if or (eq .Section "post") (eq .Section "posts") }}

{{ if .Params.image }}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="image-box">
        <img class="post-image" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
      </div>
    </div>
  </div>
</div>
{{ end }}

<div class="container">

  <div class="row">
    <div class="col col-8 col-d-10 push-2 push-d-1 col-t-12 push-t-0">
    
      <!-- begin post -->
      <article class="post amimate">

        <div class="post__head">
          {{ if .Params.tags }}
          <div class="post__tags">
            {{ range ($.GetTerms "tags") }}
            <a href="{{ .Permalink }}" class="post-tags__tag">{{ .LinkTitle }}</a>
            {{ end }}
          </div>
          {{ end }}

          <h1 class="post__title">{{ .Title }}</h1>

          <div class="post__meta">
            <div class="post__author">
              <a href="/about/" class="post__author-image" style="background-image: url('{{ .Site.Params.author.avatar | absURL }}')" aria-label="{{.Site.Params.author.name}}'s Picture"></a> <a href="/about/" class="post__author-link">{{.Site.Params.author.name}}</a>
            </div>
       
          </div>

        </div>
    
        <div class="post__content">
          {{ .Content }}
        </div>
 

    
      </article>
      <!-- end post -->
    </div>
  </div>


</div>

{{ else }}

{{ if .Params.image }}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="image-box">
        <img class="page-image" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
      </div>
    </div>
  </div>
</div>
{{ end }}

<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-d-10 col-m-12 push-d-1 push-m-0">

      <!-- begin page -->
      <article class="page animate">
        <div class="page__head">
          <h1 class="page__title">{{ .Title }}</h1>
        </div>
        <div class="page__content">
          {{ .Content }}
        </div>
      </article>
      <!-- end page -->

    </div>
  </div>
</div>

{{ end }}

{{ end }}