<!-- begin hero -->
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; height: 40vh;">
        
		<h2 style="text-align: center;">This page automatically suggests non-touristy alternatives to desired destinations.</h2>
		<h1 style="text-align: center;">Where would you like to go?</h1>
        
        <div class="search-container">
          <input type="text" id="searchInput" placeholder="Search..." onkeydown="handleSearch(event)">
          <ul id="searchSuggestions"></ul>
        </div>
        
        <div id="searchResults"></div>
		
		<h2 style="text-align: center; margin-top: 3em;">Preview of locations below.</h2>

      </div>
    </div>
  </div>
</div>
<!-- end hero -->

<style>
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px; /* Adjust the width as desired */
}

#searchInput {
  font-size: 30px; /* Adjust the font size as desired */
  height: 50px; /* Adjust the height as desired */
  color: #000000; /* Adjust the font color as desired */
}

#searchInput::placeholder {
  color: #000000; /* Adjust the placeholder color as desired */
}

#searchResults {
  font-size: 30px; /* Adjust the font size as desired */
}
</style>