{{ define "main" }}


{{ partial "search.html" . }}

{{ partial "hero.html" . }}

<div class="container">
  <div class="row grid">

    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
    {{ range $paginator.Pages }}
      {{ partial "article-content.html" . }}
    {{ end }}
	
{{ range (.Paginate .Site.RegularPages).Pages }}
    {{ if ne .Title "Showcase" }} 
        {{ .Render "summary" }}
    {{ end }}
{{ end }}

  </div>
</div>

{{ partial "pagination.html" . }}

{{ end }}